
.swiper {
  width: 100%;
  height: 100%;

  padding-bottom: 60px;
}

.swiper-wrapper{
  height: fit-content;
  min-height: 50vh;
  max-height: 70vh;
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 85vw;

  min-height: 48vh;
  max-height: 65vh;
}

.content-wrapper-gallery{
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;

  object-fit: contain;
}

.content-wrapper-gallery img{
  height: 60vh;
}

.pgImg {
  display: block;
  width: fit;
  height: 100%;
  object-fit: cover;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0);
}

.swiper-pagination {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .swiper {
    width: 100%;
    height: 100%;

    padding-bottom: 25px;
  }
}
