
.swiper {
  width: 100%;
  height: 100%;

  padding-bottom: 60px;
}

.swiper-wrapper{
  display: flex;
  align-items: center;

  height: fit-content;
  min-height: 50vh;
  max-height: 75vh;
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 85vw;

  min-height: 48vh;
  max-height: 65vh;
}

.content-wrapper-gallery{
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;

  object-fit: contain;
}

.content-wrapper-gallery img{
  max-height: 60vh;
  max-width: 80vw;
  border-radius: 20px;
}

.pgImg {
  display: block;
  /* width: fit-content; */
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
  border-radius: 20px;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0);
}

.swiper-pagination {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .swiper {
    width: 100%;
    height: 100%;

    padding-bottom: 40px;
  }

  .content-wrapper {
    max-width: 85vw;

    min-height: 48vh;
    max-height: 70vh;
  }

  .pgImg {
    height: 90%;
  }
}
